## 一，模块加载

In [3]:

import xgboost as xgb
import numpy as np
import scipy
import pandas as pd
from xgboost import plot_importance
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from xgboost import XGBRegressor

## 二，数据加载

In [4]:
# data=pd.read_csv('/home/maolp/data2/Immu_age/Immuageroot/Root_A05.Count_table/Root_A05.combat_eata.txt',sep='\t',header=0)
data=pd.read_csv('/home/maolp/data2/Immu_age/xiao/20220430_xiaoraw/xiao_A05.Count_table/xiao_A05.combat_eata.txt',sep='\t',header=0)
targetdata=pd.read_csv('/home/maolp/data2/Immu_age/xiao/20220430_xiaoraw/xiao_A05.Count_table/xiao_mergecoldata.txt',sep='\t')

In [6]:
data
targetdata

                   name  age  gender real_name  batch
0   A1_FRAS220068282-1r   20       0       吴广杰      4
1   A2_FRAS220068283-1r   20       1       王子健      4
2   A3_FRAS220068284-1r   30       0        高文      4
3   A4_FRAS220068285-1r   20       1       王昊云      4
4   A5_FRAS220068286-1r   20       0       邱明慧      4
..                  ...  ...     ...       ...    ...
91                  OF2   86       0       OF2      3
92                  OF4   86       0       OF4      3
93                  OF3   87       0       OF3      3
94                  OM4   88       1       OM4      3
95                  OF5   93       0       OF5      3

[96 rows x 5 columns]

In [7]:
targetdata["newage"]=np.where(targetdata["age"]<10,0,
                        np.where(targetdata["age"]<20,1,
                        np.where(targetdata["age"]<30,2,
                        np.where(targetdata["age"]<40,3,
                        np.where(targetdata["age"]<50,4,
                        np.where(targetdata["age"]<60,5,
                        np.where(targetdata["age"]<70,6,
                        np.where(targetdata["age"]<80,7,
                        np.where(targetdata["age"]<90,8,
                        np.where(targetdata["age"]<100,9,
                        np.where(targetdata["age"]<110,10,11)))))))))))

In [9]:
targetdata

                   name  age  gender real_name  batch  newage
0   A1_FRAS220068282-1r   20       0       吴广杰      4       2
1   A2_FRAS220068283-1r   20       1       王子健      4       2
2   A3_FRAS220068284-1r   30       0        高文      4       3
3   A4_FRAS220068285-1r   20       1       王昊云      4       2
4   A5_FRAS220068286-1r   20       0       邱明慧      4       2
..                  ...  ...     ...       ...    ...     ...
91                  OF2   86       0       OF2      3       8
92                  OF4   86       0       OF4      3       8
93                  OF3   87       0       OF3      3       8
94                  OM4   88       1       OM4      3       8
95                  OF5   93       0       OF5      3       9

[96 rows x 6 columns]

## 三，特征选择

In [10]:
x_train, x_test, y_train, y_test = train_test_split(features_last, targetdata["newage"], test_size=0.2, random_state=0)

NameError: name 'features_last' is not defined